#--------------------------------------------------------------------
# Environment Configuration
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 'http://localhost:8080/'
# app.forceGlobalSecureRequests = false
# app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = kata_masyarakat
database.default.username = root
database.default.password = GilangRizky
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

#--------------------------------------------------------------------
# SECURITY
#--------------------------------------------------------------------
# Enable CSRF in App Config if needed.

# JWT Configuration
jwt.secret = 'SuperSecretKeySigapApplication2026_JWT_Token_Sign_Key'
jwt.expire = 86400
